.navbar {
    display:flex;
    flex-direction: row;
    background: black;
}
#logo{
    height: 50px;
    width: 50px;
}
.navbar-divtexto{
    margin:auto auto auto 0;
    
}
.navbar-divlogo{
    margin:auto 50px auto 50px;
}

.navbar-texto{
    margin: 50px;
    text-decoration: none;
    color:white;
}