.card{
    display:flex;
    flex-direction: column;
    width: 200px;
    justify-content: center;
    align-items: center;
}
.card-title{
    font-size: 2em;
}
.card-buttons {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    font-size: 1.25em;
}
.btn-modificador {
    font-size: 1.25em;
}
.btn-agregar{
    font-size: 1.25em;
}